
.body{
    font-family: "Trebuchet MS"
}

:root{
    --primary-color :#008b8b;	
}

.division{
    display: flex;
    flex-direction: column;
    width:25vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    color:var(--primary-color);
    font-size: larger;
}

.division label,input{

    margin: 0.5rem;
    max-width: fit-content;
    text-align: center;
    border-radius:1px;
    border-color: var(--primary-color);

}
.caption{
    text-align: center;
    font-size: xx-large;
    margin-bottom: 1rem;
    margin-top: 4rem;
    color: var(--primary-color);

}
.table1{
    align-items: center;
    margin: auto;
    border-collapse: collapse;
    min-width: 400px;
}

th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding:1rem;
    min-width: 45px;
    text-align: center;
    border-color: #008b8b;
    font-size: large;

    }
    #output{
        font: bolder;
        font-size:xx-large;
        margin-top: 1.5rem;


    }

    #btn{
        border: 2px solid var(--primary-color);
        border-radius:1rem;
        margin-top: 1rem;
        color: #008b8b;
        background-color:cornsilk;

    }